<div>
    <h2>Setup</h2>
    <p>Each person will chose to start with class and a hero, once selected you are locked into that hero for the rest of the tournament unless you want to restart from the very beginning.</p>
    <p>The format will be blitz constructed young heroes only, 40 card decks.</p>
    <p>Each player can make a custom deck to start with.</p>
    <p>The starting deck can only contain commons and 4 rares. (the commons and rares can be selected from any cards in the entire game’s history)</p>
    <p>For armor all heroes will start with a full set of iron rot, and null rune.</p>
    <p>Armor is not included in the starting deck outside of these free sets.</p>

    <h2>How the game is played:</h2>
    <p>Talishar for pvp.</p>
    <p>All decks must be kept and maintained on fabDb.</p>

    <h2>How pvp is done:</h2>
    <p>Season are done weekly.</p>
    <p>You can challenge anyone in the tourney at any time, (up to 10 times per Season).</p>
    <p>When you win a game you are allowed to pick 1 card from 3 randomly selected by an online portal that tracks decks and cards in deck (makes sure all decks are following the rules).</p>
    <p>The card pool from the randomly selected cards will be balanced as such (Subject to change after testing).</p>
</div>