<div>
    <h2>ALPHA RULES</h2>
    <p>This is a test run of a new format for the game.</p>
    <p>You can level up as much as you want, please make sure you stay honest and only level up as you win</p>
    <p>You should only level up once per win</p>
    <p>At the moment you can refresh the card select screen to infinitly get random chance at good cards, please do not abuse this</p>
    <p>Accidents do happen so it is ok if you happen to accidently refresh the page when selecting a card, there is no way to maintain your previous shown cards.... yet this is being worked on</p>
    
    <h2>Setup</h2>
    <p>Each person will chose to start with class and a hero, once selected you are locked into that hero for the rest of the tournament unless you want to restart from the very beginning.</p>
    <p>The format will be blitz constructed young heroes only, 40 card decks.</p>
    <p>Each player can make a custom deck to start with.</p>
    <p>The starting deck can only contain commons. (the commons can be selected from any cards in the entire game’s history)</p>
    <p>For armor all heroes will start with any common armor.</p>
    <p>Armor will be rewarded every 5 levels, only rare and Majestic equipment</p>
    <p>You can use up to rare weapons</p>

    <h2>How the game is played:</h2>
    <p>Talishar for pvp.</p>
    <p>All decks must be kept and maintained on fabDb.</p>

    <h2>How pvp is done:</h2>
    <p>You can challenge anyone in the tourney at any time. As long as they are within 5 levels of you,</p>
    <p>During alpha the above rule is not in effect.</p>
    <p>When you win a game you are allowed to pick 1 card from 3 randomly selected by an online portal that tracks decks and cards in deck (makes sure all decks are following the rules).</p>
    <p>The card pool from the randomly selected cards will be balanced as such (Subject to change after testing).</p>
</div>