<div>
    <div *ngIf="isDeckValid && !userInfo.needsToSelectNewCard">
        <button (click)="increaseUserLevel()" class="primary-button">Increase Level</button>
        
    </div>

    <app-card-select *ngIf="userInfo.needsToSelectNewCard" [cardLimiters]='limiters'
        [cardList]="cardList" [userInfo]="userInfo" [owenedCards] = "owenedCards"
        (quit)="quitFunc($event)" (selectedCard)="saveSelectedCardFunc($event)">
    </app-card-select>


    <div *ngIf="!isDeckValid">
        <button class="primary-button" (click)="displayCardsNotOwned = !displayCardsNotOwned">
            {{ displayCardsNotOwned ? 'Hide Non Valid Cards' : 'Display Non Valid Cards' }}
        </button>
        <div class="cardDiv" *ngIf="displayCardsNotOwned">
            <div class='card-image' *ngFor="let card of cardsNotOwned">
                <img src="{{getCardImage(card.identifier)}}">
            </div>
        </div>
    </div>

    <div *ngIf="!logingIn && owenedCards.length > 0">
        <button class="primary-button" (click)="displayOwnedCards = !displayOwnedCards">
            {{ displayOwnedCards ? 'Hide Owned Cards' : 'Display Owned Cards' }}
        </button>
        <div class="cardDiv" *ngIf="displayOwnedCards">
            <div class='card-image' *ngFor="let card of owenedCards">
                <div *ngIf="!card.toBeSelected"> 
                    <img src="{{getCardImage(card.identifier)}}">
                </div>
            </div>
        </div>
    </div>

    <div>
        To display user data
    </div>
    <!-- 
    <div *ngIf="userInfo">
        Who is logged in
        <div>
            <div *ngFor="let user of listOfUsersInBracket">
            </div>
        </div>
        POST MVP DEVELOPMENT <div *ngFor="listOfLoggedInUsers">
        </div>   
    </div> -->
</div>