.image_select{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
        background-color: #f0f0f0;
    }
    .image_select_text{
        text-align: center;
    }
}

.image_select img {
    width: 30vw;
}
.container {
    display: flex;
    overflow-x: auto;
}