/* You can add global styles to this file, and also import other style files */
body {
    background-color: #163782;
    flex: 1 0 auto;
    margin-bottom: 60px;  // Adjust this value to match the height of your footer
}